*.so
*.pkl
*.pyc
*.root

.*
*~
*_cc.d
*_cc.d
*_cc.so
*_cc_ACLiC_dict_rdict.pcm
*submit

histogramProducer/AutoDict_*
histogramProducer/TreeParticles.hpp
histogramProducer/logs
histogramProducer/suppressor.py

fakeRate/TreeParticles.hpp
fakeRate/UserFunctions.h
fakeRate/logs

plotter/plots/
plotter/plotsPhys14/
plotter/tmp/
plotter/smsPlotter/
plotter/AutoDict_*
utilities/*.pdf


