
*.pkl
*.pyc
.*
*~

*.root

histogramProducer/*_cc.d
histogramProducer/*_cc.so
histogramProducer/*_cc_ACLiC_dict_rdict.pcm
histogramProducer/AutoDict_*
histogramProducer/TreeParticles.hpp

plotter/plots/
plotter/plotsPhys14/
plotter/tmp/
plotter/smsPlotter/
plotter/AutoDict_*
utilities/*.pdf
